@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  color: #323144;
  font-family: "Nunito", sans-serif;
}
header {
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 80px;
}

nav a:hover {
  color: #323144;
  border-bottom: 2px solid #323144;
}

header h1 {
  margin-bottom: 5px;
}

nav a {
  margin: 0;
  padding: 0 5px;
}

nav a {
  margin-left: 10px;
  padding: 0 15px;
  text-decoration: none;
  color: #323144;
}

.main__title {
  margin-top: 70px;
  text-align: center;
}

.main__card {
  display: flex;
  margin: 40px;
  border-radius: 20px;
  
}

.main__card img {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 0 20px 20px 0;
}

.main__card-info {
  width: auto;
  height: auto;
  background-color: #BABDCE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  padding: 0 20px;
}
.main__card h3 {
  margin: 0;
}
.main__card p {
  margin-top: 5px;
}
.main__card button {
  background-color: #323144;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  color: #BABDCE;
  font-family: "Nunito", sans-serif;
  outline: none;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
  }
  header h1 {
    margin: 0;
  }
  .main__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main__card {
    display: grid;
    width: 250px;
    height: 450px;
    grid-template-rows: 1fr 1fr;
  }
  .main__card img {
    grid-row: 1 / span 1;
  }
  .main__card img{
    width: 100%;    
    border-radius: 20px 20px 0 0;
  }
  .main__card-info {
    border-radius: 0 0 20px 20px;
    padding: 0 20px;
  }
  .main__card p {
    margin-bottom: 0 0 10px 0;
  }
  .main__card-info a{
    background-color: #323144;
    text-decoration: none;
    text-align: center;
    color: #BABDCE;
    padding: 9px 0;
    border-radius: 10px;
  }

  /* Modal */
  #modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 450px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.modal__close {
  align-self: flex-end;
}
.modal__close img {
  width: 30px;
  border-radius: 10px;
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}
/* Fin de modal */
}